header{
    width: 90%;
    margin: auto;
    height: 150px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav .logo{
    margin-bottom: -20px;
    width: 250px;
    aspect-ratio: 2/1;
    margin: 0%;
    padding: 0%;
    margin-top: -10px;
    cursor:pointer  ;
    margin-left: -20px;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li a{
    color: rgb(64, 61, 61);
    text-decoration: none;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right:10px;
    padding: 0px 15px;
}

nav ul li a:hover{
    border-radius: 20px;
    border: 1px solid burlywood;
    border-bottom: 5px solid burlywood;
    box-sizing: border-box;
}

.menu{
    margin-top: 2px; 
    display: none;
    width: 35px;
    height:50px;
}

@media (max-width:786px){
    nav ul{
        display: none;
    }
    .menu{
        display: block;
    }

    .logo{
        width: 200px;
    }
}

@media(max-width:570px) {

    header{
        height: 130px;
    }
    .menu{
        margin-right: 20px;
    }
}